.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  &__image {
    height: auto;
  }

  &__text {
    font-size: 14px;
    color: #999;
    margin-top: 20px;
  }
}
